# PostgreSQL v18
POSTGRES_HOST=postgres_host
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_DATABASE=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_ADMIN_DB=app_db
POSTGRES_APP_USER=app_user
POSTGRES_APP_PASSWORD=app_password

MINIO_ENDPOINT=minio_endpoint
MINIO_ACCESS_KEY=minio_access_key
MINIO_SECRET_KEY=minio_secret
MINIO_USE_SSL=false
MINIO_BUCKET=bucket

AUTHORITY_SERVER_URL=http://auth-server.com
